HUGGINGFACE_API_TOKEN=

[postgres]
POSTGRES_DB=llm_local
POSTGRES_USER=llm_local_user
POSTGRES_PASSWORD=testing
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_GO_DSN=postgresql://llm_local_user:testing@localhost:5432/llm_local